html {
  font-size: 16px;
  color: #7F1C16;
  background-color: #FFFFFF;
  font-family: 'Playfair Display', serif;
}
.container {
  max-width: 60%;
}
.container2 {
  max-width: 40%;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
}
h4 {
  font-size: 1.5rem;
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
.bannertext h4,
.article h4,
.info-text,
.description,
.content,
footer {
  font-family: 'Open Sans', sans-serif;
}
#mobile-nav,
.info-mobile,
.mobile-course
 {
  display:none;
}

/* Styling of navigation bar*/
nav {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.company {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  height: 2rem;
}
.company span {
  font-size: 1.5rem;
}
.company strong {
  font-weight: 700;
  color: #000000;
}
.navigation li {
  display: inline;
  padding-left: 1rem;
}
.navigation {
  padding-right: 1.5rem;
}
.company a {
  text-decoration: none;
  color: inherit;
}
.navigation a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 1.2rem;
}
.navigation a:hover {
  text-decoration: overline;
}
/* Main banner part */
.main-banner {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #EEEEEE;
  color: #000000
}
.main-banner h4 {
  padding: 3rem 0 3rem 0;
}
button {
    background-color: #7F1C16;
    border: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
    cursor:pointer;
    transition: all 200ms ease-in 50ms;
}
button:hover {
  background-color: #CC2C23;
}
button:active {
  background-color: #ffffff;
  color: #7F1C16;
  border: 0.2rem solid #7F1C16;
}
.bannerphoto {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.bannerphoto img {
  max-width:100%;
  max-height:100%;
}
.bannertext div {
  text-align: left;
}
.bannertext {
  text-align: center;
  max-width: 27%;
}
/* Information part */
.info-content {
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  padding-top: 2rem;
}
.info-content img {
  max-width:100%;
  max-height:100%;
}
.article {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.article h1 {
  padding: 2rem 0 1.5rem 0;
}
.article p {
  padding: 1.5rem 0 2rem 0;
  font-size: 0.9rem;
  font-weight: 500;
}
.article h4 {
  font-size: 1.3rem;
  line-height: 1.2;
}

.info {
  max-width: 40%;
  margin-top: -1rem;
}
.item {
  display: flex;
  align-items: center;
  line-height: 1.5;
}
.item:hover {
  background-color: #EEEEEE;
}
.item a {
  text-decoration: none;
}
.item a:hover {
  text-decoration: underline;
}
.item p{
  padding: 0.5rem 0 0.5rem 0;
}
.info-img {
  width: 35%;
  padding: 1rem;
}

.info img {
  height: auto;
  width: 100%;
}
.info-text {
  padding: 1rem 1rem 1rem 1rem;
  width: 65%;
}

/* Courses part */
.courses {
  padding-top: 2rem;
  background-color: #EEEEEE;
}
 .header  {
  display: flex;
  justify-content: center;
  color: #000000;
}
.course-img {
  width: 100%;
}
.courseitem img {
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
}
.courseitem {
  width: 26rem;
  padding: 1rem;
}
.courseitem:hover {
  background-color: #FFFFFF;
  border: 0.02rem inset #000000;
}
.coursegrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 3.5rem 2rem 3.5rem;

}
.description {
  background-color: white;
  text-align: left;
  max-width: 100%;
}
.description h1 {
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
}
.description h4, .description p{
  font-size: 1.1rem;
}
.description h4 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.padding {
  padding: 1rem 1rem 1.5rem 1rem;
  max-width: 90%;
  height: 6rem;
}
/* Exhibit video */
.content {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding-bottom: 2rem;
}
.content video {
  height: auto;
  width: 100%
}
.video {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.video h4 {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}
/*Exhibit blog */
.thesis {
  display: flex;
  justify-content: center;
  padding: 2rem 0 2rem 0;
}
.blog-content {
  display: flex;
  align-items: center;
  line-height: 1.5;
}
.blog-content:hover {
  background-color: #EEEEEE;
}
.blog-img {
  width: 35%;
  padding: 1rem;
}
.blog-img img {
  height: auto;
  width: 100%;
}
.blog-text {
  width: 65%;
}
.blog-text div {
  width: 60%;
}
/* Footer*/
footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem 2rem 1.5rem;
}
.tc p{
  display: inline;
}
/* Media queries for mobile width was determined by where the breakpoint looked necessary */
@media only screen and (max-width:743px)
/*@media screen and (max-width: 743px)*/{
  #fullsize,
  .article,
  .info,
  .company span,
  .coursegrid,
  .blog,
  .video h4,
  .video blockquote {
    display: none;
  }
  .item p,
  .info-img,
  .main-banner,
  .bannerphoto,
  .info-content,
  .content {
    padding: 0;
  }
  .container,
  .container2,
  .info-text,
  .info-img {
    max-width: 100%;
  }

  #mobile-nav,
  .info-mobile,
  .mobile-course  {
    display:block;
  }
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 500;
  }
#mobile-nav li {
  padding-right: 2rem;
}
.bannertext {
  padding: 2rem 1rem 2rem 1rem;
  line-height: normal;
}
.bannertext h4 {
  padding: 2rem 0 1.5rem 0rem;
}
.item,
.main-banner {
  flex-direction: column;
  justify-content: center;
}
.item {
  padding: 1rem;
}
.info-text{
  padding: 1rem 1rem 2rem 1rem;
}
.info-img,
.info-text {
  width: 100%;
}
.info-content {
  justify-content:center;
  align-items: center;
}

.mobile-course h4 {
  padding: 1rem 1rem 1.5rem 1rem;
  background-color: #FFFFFF;
  margin: 0.5rem;
}
.mobile-course{
  padding: 1rem 0 2rem 0;
}
.thesis{
  padding: 2rem 0 1rem 0;
  }
.video {
    padding: 0 0 1.5rem 0;
  }
footer {
  font-size: 0.8rem;
  padding: 1rem;
}
